<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/">ShoeApp</a>
    <button class="navbar-toggler" type="button" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">

        <a class="nav-item nav-link" href="/">My Favourites</a>
       
      </div>
    </div>

    <% let user = { email: 'elodiebouthors@hotmail.com' }; %>

        <% if (user) { %>

          <form class= "form-inline" action="/api/users" method="POST">
          <div style="margin-right: 7px;">Logged in as
            <button type="submit" class="btn btn-primary">log Out</button>
          </form>
          </div>

           <% } else { %>
          <div class = "navbar-nav">
            <a class="nav-item nav-link" href="/login">login</a>
          </div>
          <% } %>

  </nav>
</header>
