<link rel="stylesheet" href="/styles/layout.css" type="text/css" />

<header>
  <nav class="navbar navbar-expand-md navbar-dark">
    <a class="navbar-brand" href="/">FindYourShoe</a>
    <button class="navbar-toggler" type="button" >
      <span class="navbar-toggler-icon"></span>
    </button>

    <% if (currentUser) { %>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/favourites">My Favourites</a>
          <a class="nav-item nav-link" href="/addproduct">Add Product</a>
        </div>
      </div>
      
        <div>
            <form class= "form-inline" action="/api/users/logout" method="POST">
            <div style="margin-right: 7px;"> Logged in as <%= currentUser.email %></div>
              <button type="submit" class="btn btn-primary">logout</button>
            </form>
        </div>

        <% } else { %>
          <div class = "navbar-nav">
            <a  class="nav-item nav-link" href="/api/users/login">login</a>
          </div>
        <% } %>

  </nav>
</header>
