<link rel="stylesheet" href="/styles/layout.css" type="text/css" />

<header>
  <nav class="navbar navbar-expand-md navbar-dark">
    <a class="navbar-brand" href="/">Light Kicks</a>

    <!-- if user is logged in -->
    <% if (currentUser) { %>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/favourites">My Favourites</a>
        </div>
      
        <!-- if user is an admin -->
    <% } if (currentUser && admin) { %>
      <%  if (currentUser.id === admin.id) { %>
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/admin">Admin</a>
          <a class="nav-item nav-link" href="/addproduct">Add Product</a>
        </div>
      <% } %>


      </div>
        <div>
            <form class= "form-inline login-as" action="/api/users/logout" method="POST">
            <div style="margin-right: 7px;"><%= currentUser.email %></div>
              <button type="submit" class="header-btn">Logout</button>
            </form>
        </div>

    

    <!-- if user is logged out -->
    <% } else { %>
        <div class = "navbar-nav">
          <a  class="nav-item nav-link" href="/api/users/login">login</a>
        </div>
    <% } %>


  </nav>
</header>
