<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <title>Login</title>
</head>
<body>

  <%- include('_header'); %>

  <main style="margin: 1em;">
    <h3>Login</h3>
  <form class="form-inline" action="/login" method="POST">

    <div class="form-group mb-2">
    <label for="email"> Your email </label>
    

    </div>
    </form>
    </main>
  
  
</body>
</html>