// See: https://sass-lang.com/


body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }

  .featured_sneakers{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .all_shoes {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 4rem;
    padding-bottom: 4rem
  }

  .shoe_image{
    height: 200px;;
  }
}
