// See: https://sass-lang.com/
/* Color Theme Swatches in Hex */
$background-texture-1-hex: #011140;
$background-texture-2-hex:#011126;
$background-texture-3-hex: #101E26;
$background-texture-4-hex: #94A1A6;
$background-texture-5-hex: #FFF;


body {
  background-color: $background-texture-5-hex;

  h1 {
    color: #244751;
  }


}

/* NavBar */
.navbar{
  background-color: #101E26;
}
.login-as{
  color: white;
  font-size: 12px;
}

/* Index page */

.index-container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
}

.jumbotron-fluid {
  padding: 1rem 2rem;
}

.jumbotron-container {
  display: flex;
  width: 100%;
  flex-direction: row;

  @media(max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.jumbotron-container_image {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 12px;

  @media(max-width: 768px) {
    width: 100%;
  }

  img {
    width: 70%;
  }
}

.jumbotron-container_content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 12px;
  
  .display-4 {
    margin-bottom: 10px;
    margin-top: -35px;
  }

  .lead {
    margin-bottom: 45px;
  }

  @media(max-width: 768px) {
    width: 75%;
    align-items: center;
  }
}

.search-button {
  width: 40%;
  background: transparent;
  color: black;
  border: solid 1px black;
}

.featured_sneakers{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 4rem;
  padding-bottom: 4rem;
  width: 100%;
  flex-wrap: wrap;

  .card {
    width: calc(100% / 4 - 24px);
    margin: 12px;

    .card-img-top {
      height: 100%;
    }
  }
}

.all_shoes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap:wrap;
  padding-top: 4rem;
  padding-bottom: 4rem;
  width: 100%;

  .card {
    width: calc(100% / 4 - 24px);
    margin: 12px;
  }
}

.shoe_image{
  height: 200px;;
}

.all-shoe-title{
  text-align: center;
}

/* Product page_id */
.product-id{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .card {
    width: 33%;
    margin: 12px;
   
  }
}

.buttons-product-id{
    width: 100%;
    display: flex;
    justify-content: center;
    
  .form-inline{
    align-items: center;
  }

  a{
    color: black;
  }

  a:hover {
    color: white;
  }
  
}

/* Product add shoe */

.add-shoe-form{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.custom-select-sm{
  margin-top: 1rem;

}

/*search page*/

.search-form{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.shoe-filter{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap:wrap;
  padding-top: 4rem;
  padding-bottom: 4rem
}

a#fav{
  background: url('../images/addFavourite.png');
  display: block;
  width: 48px;
  height: 48px;
 }

 a#fav.active{
  background: url('../images/addFavourite-hover.png');
 }


// Large


@media only screen and (min-width: 1024px) {
  .btn{
    min-width: 168px;
  }
}

@media only screen and (max-width: 1024px) {
  .all_shoes {
    .card {
      width: calc(100% / 3 - 24px);
      margin: 12px;
    }
  }

  .btn{
    font-size: 12px;
    min-width: 100px;
  }
}

// Medium
@media only screen and (max-width: 768px) {
  .featured_sneakers{ 
    .card {
      .card-img-top {
        height: auto;
      }
    }
  }
}

// Mobile
@media only screen and (max-width: 600px) {
  .all_shoes {
    .card {
      width: 100%;
      margin: 12px;
    }
  }
}